<div id='<%= friendship.id %>' 
     class='friend-item 
          <% if friendship.ignore %>
            ignored-friend 
          <% end %>'>
<% if friendship.friend.picture %>
  <%= image_tag(friendship.friend.picture, class: 'friend-picture') %>
<% end %>
  <%= link_to friendship.friend.email, user_path(friendship.friend) %>
</div>
