<div id='<%= friendship.id %>' 
     class='friend-item 
          <% if friendship.ignore %>
            ignored-friend 
          <% end %>'>
  <%= link_to friendship.friend.email, user_path(friendship.friend) %>
</div>
