<h1>Listing apps</h1>

<table>
<% @apps.each do |app| %>

  <tr><td>
    <%= render app %><br>
  </td></tr>
<% end %>
</table>
<script type='text/javascript' language='javascript' src='http://www.appbrain.com/api/api.nocache.js'></script>

<br />

<%= link_to 'New App', new_app_path %>
