<table>
  <tr align="center">
    <td> Installed by: </td>
    <td> Application</td>
  </tr>
  <% @app_counts.each do |app_count| %>
      <tr>
        <td><%= app_count[1] %> people </td>
        <td> <%= render app_count[0] %></td>
      </tr>
  <% end %>
</table>
<script type='text/javascript' language='javascript' src='http://www.appbrain.com/api/api.nocache.js'></script>

<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @app_counts, :model => 'top applications' %>
  </div>
  <%= will_paginate @app_counts, :container => false %>
</div>
