<div class="service-view-top-apps">
  <div class="top-apps-container">
    <% if @page_left
         @left_link = topapps_path(page: @page_left)
       end

       if @page_right
         @right_link = topapps_path(page: @page_right)
       end
    %>
    <%= render partial: 'shared/table', 
               locals: { list_title: 'Top Applications',
                         list: @app_counts_display,
                         #custom_actions: 'topapps/ignore_table_actions',
                         custom_actions: nil,
                         pagination: 'topapps/pagination', 
                         left_link: @left_link,
                         right_link: @right_link } %>
  </div>
  <script type='text/javascript' 
          language='javascript' 
          src='http://www.appbrain.com/api/api.nocache.js'>
  </script>
</div>
