<div class="service-view-user-apps">
  <p id="notice"><%= notice %></p>

  <div class="installed-apps-container">
    <%= render partial: 'shared/table', 
               locals: { list_title: @user.username + ' ' + @user.uid,
                         list: @user.apps,
                         custom_actions: 'users/ignore_table_actions',
                         pagination: 'users/pagination' } %>
  </div>
  <script type='text/javascript' 
          language='javascript' 
          src='http://www.appbrain.com/api/api.nocache.js'>
  </script>
</div>
