<div class="service-view-user-apps">
  <p id="notice"><%= notice %></p>

  <div class="installed-apps-container">
    <%= render partial: 'shared/table', 
               locals: { list_title: @user.username + ' ' + @user.uid,
                         list: @user.apps } %>
    <div class="apple_pagination">
      <div class="page_info">
        <%= page_entries_info @apps, :model => 'installed applications' %>
      </div>
      <%= will_paginate @apps, :container => false %>
    </div>
  </div>
  <script type='text/javascript' 
          language='javascript' 
          src='http://www.appbrain.com/api/api.nocache.js'>
  </script>
</div>
