<div class="service-view-user-apps">
  <p id="notice"><%= notice %></p>

  <div class="installed-apps-container">
    <% if @page_left
         @left_link = user_path(@user, page: @page_left)
       end

       if @page_right
         @right_link = user_path(@user, page: @page_right)
       end
    %>
    <%= render partial: 'shared/table', 
               locals: { list_title: @user.username + ' ' + @user.uid,
                         list: @user.apps,
                         #custom_actions: 'users/ignore_table_actions',
                         custom_actions: nil,
                         pagination: 'users/pagination', 
                         left_link: @left_link,
                         right_link: @right_link } %>
  </div>
  <script type='text/javascript' 
          language='javascript' 
          src='http://www.appbrain.com/api/api.nocache.js'>
  </script>
</div>
