<table>
  <tr align="center">
    <td> Installed by: </td>
    <td> Application</td>
  </tr>
  <% @app_counts.each do |appCount| %>
    <tr>
      <td><%= appCount[1] %> friends. </td>
      <td> <%= render appCount[0] %></td>
    </tr>
  <% end %>
</table>
<script type='text/javascript' language='javascript' src='http://www.appbrain.com/api/api.nocache.js'></script>


<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @app_counts, :model => 'recommended applications' %>
  </div>
  <%= will_paginate @app_counts, :container => false %>
</div>
