.app-header-bar {
  background: #3b5998;
  border-bottom: 1px solid #133783;
  position: relative;
}

.app-header-content {
  padding: 0 0 0 44px;

  .user-options-top {
    position: absolute;
    top: 20px;
    right: 60px;
    font-size: 14px;
    padding: 5px;
    margin: 0px;
    list-style: none;

    a, a:hover, a:active, a:visited {
      color: #fff;
      background: none;
      text-decoration: none;
    }

    .dropdown-img {
      height: 7px;
      width: 13px;
      padding: 0;
    }
  }

  .user-options-sub {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;

    img {
      height: 13px;
      width: 24px;
      position: relative;
      left: 136px;
      z-index: 1;
    }

    .user-options-sub-list-container {
      border: 1px solid #6b6b6b;
      width: 100px;
      position: relative;
      top: -6px;
      left: 77px;
    }

    ul {
      padding: 0px;
      font-size: 14px;
      list-style: none;
    }

    li {
      padding: 6px 21px; 
      background: #2d2d2d;
    }

    li:hover {
      background: #3f3e3b;
    }
  } 

  .app-header-android {
    height: 50px;
    position: absolute;
    right: 0px;
    top: 10px;
  }
}

.app-main {
  position: relative;
  margin: 0 auto;
  padding: 1px;

  .app-main-content {
    margin: 0 0 0 200px;
  }

  .app-side-panel {
    padding: 30px 20px 30px 10px;
    position: absolute;
    top: 0;
    left: 3px;
  }

  .app-side-nav-container {
    color: #222;
    padding: 2px;

    .app-side-nav {
      color: #dd4b39;
      font-size: 18px;
      padding: 0 0 3px 0;
    }

    .app-side-nav-list {
      padding: 0;
    }

    ul {
      padding: 0;
    }

    li {
      list-style: none;
      padding: 8px 7px;
      border-radius: 3px;
      font-family: arial, sans-serif;
    }

    li:hover {
      background: #d5d5d5;
    }

    a, a:hover, a:visited, a:active {
      color: #222;
      font-size: 13px;
      text-decoration: none;
      padding: 0 2px;
    }
  }
}
