// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.service-list {
  color: #222;
  position: relative;
  margin: 28px 0 0 0;

  .header {
    font-family: arial, sans-serif;
    font-size: 17px;
    margin: 0 0 0 6px;
    padding: 0 0 15px 0;
    border-bottom: 1px solid #ebebeb;

    .header-list {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        display: inline;
      }

      .select-all-checkbox-container {
        padding: 2px 19px 4px 19px;
        background: #f1f1f1;
        border-radius: 3px;
        border: 1px solid #ebebeb;
        margin: 0 10px 0 3px;
      }

      .list-title {
        margin: 0 0 0 30px;
      }

      .pagination-left {
        position: absolute;
        top: -8px;
        right: 135px;

        img {
          height: 24px;
          padding: 4px 6px 3px;
          background: #f1f1f1;
          border-radius: 3px;
          border: 1px solid #ebebeb;
        }
      }

      .pagination-right {
        position: absolute;
        top: -8px;
        right: 94px;

        img {
          height: 24px;
          padding: 4px 6px 3px;
          background: #f1f1f1;
          border-radius: 3px;
          border: 1px solid #ebebeb;
        }
      }

      .actions {
        position: absolute;
        top: -8px;
        right: 11px;

        .actions-sublist {
          display: none;
          position: absolute;
          top: 32px;
          right: 0px;
          background: #fff;
          border: 1px solid #d1d0cf;
          z-index: 1;
        }

        img {
          padding: 4px 18px 3px;
          height: 24px;
          background: #f1f1f1;
          border-radius: 3px;
          border: 1px solid #ebebeb;
        }
      }
    }
  }

  .service-list-container {
    position: relative;

    .list-items {
      list-style-type: none;
      padding: 0;
      margin: 0;

      .list-row-item {
        position: relative;
        margin: 15px 0;
      }
    }
  }
}

.checkbox {
  border: 1px solid #9b9b9b;
  border-radius: 1px;
  display: inline-block;
  position: relative;
  top: 2px;
  left: 2px;
  padding: 6px;
}

.unchecked-item { }

.checked-item {
  padding: 0;
  background: image_url('checkmark-mod.png') no-repeat;
  height: 13px;
  width: 13px;
  position: absolute;
  top: 0;
  left: -1px;
}
